<div class="container">
    <div class="spinner-border text-primary" role="status" *ngIf="loading">
        <span class="sr-only"></span>
      </div>
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-6 m-auto border p-4  shadow" >
            <h1 class="text-center text-primary">Admin Panel </h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
              
                <div class="form-group">
                    <label for="">E-mail</label>
                    <input type="text" class="form-control border-top-0  border-start-0 border-end-0 bg-white border-primary border-3 rounded-0" formControlName="email" placeholder="Enter E-mail" required >
                    <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
                        <small class="text-danger" *ngIf="email?.errors?.['required']">Email address is required</small>
                        <small class="text-danger" *ngIf="email?.errors?.['email']">Email address is invalid</small>
                      </div>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control border-top-0  border-start-0 border-end-0 bg-white border-primary border-3 rounded-0" formControlName="password" placeholder="**********" required>
                    <div *ngIf="(password?.invalid && password?.touched) || password?.dirty">
                        <small class="text-danger" *ngIf="password?.errors?.['required']">Password is required</small>
                        <small class="text-danger" *ngIf="password?.errors?.['minlength']">password Must length must be 5 digit</small>
                      </div>
                </div>
               
                <div class="text-center mt-3">
                    <button type="submit"  [disabled]="!loginForm.valid" class="btn btn-outline-primary rounded-0">Submit</button>
                    <button type="reset" class="btn btn-outline-dark ms-5 rounded-0">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>