<div class="container">
  <ngx-spinner></ngx-spinner>

  <div class="row">
    <div class="col-md-12 m-auto table-responsive p-3">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered display p-3"
        id="table_id">
        <thead>
          <tr>
            <th scope="col">S.no</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Abouts</th>
            <th scope="col">Strength</th>
            <th scope="col">Platform</th>
            <th scope="col">Operation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i =index">
            <th scope="row">{{i+1}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.about}}</td>
            <td>
              <ul class="list-group" *ngFor="let  strength of user.strength">
                <li class="list-group-item">{{strength}}</li>
              </ul>
            </td>
            <td>{{user.platform}}</td>

            <td class="d-flex justify-content-around">
              <a class="btn btn-info" [routerLink]="['/dashboard',user._id]"><i class="far fa-edit"></i></a>
              <button class="btn btn-danger" (click)="onDelete(user._id)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
