<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto border shadow p-3" *ngIf="role==='admin'">
  <ngx-spinner></ngx-spinner>

      <h1>Add User</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="">Username</label>
          <input type="text" placeholder="Enter Name" class="form-control" formControlName="username" required>
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">

            <small class="text-danger" *ngIf="username?.errors?.['required']">
              Username is required.
            </small>
            <small class="text-danger" *ngIf="username?.errors?.['minlength']">
              Name must be at least 4 characters long.
            </small>
          </div>
        </div>




        <select class="form-select mt-3" aria-label="Default select example" formControlName="gender" required>
          <option value="" disabled>Select your Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>

        <div *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)">

          <small class="text-danger" *ngIf="gender?.errors?.['required']">
            Gender is required.
          </small>

        </div>

        <div class="form-group mt-2">
          <label for="">E-mail</label>
          <input type="email" placeholder="Enter E-mail" formControlName="email" class="form-control" required>
          <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
            <small class="text-danger" *ngIf="email?.errors?.['required']">Email address is required</small>
            <small class="text-danger" *ngIf="email?.errors?.['email']">Email address is invalid</small>
          </div>
        </div>

        <div class="mt-3 " formArrayName="strength">
          <label>Strength</label>
          <button class="btn btn-primary ms-4" (click)="onAddStrength()">Strength +</button>
          <div class="form-group" *ngFor="let strengthControl of getControls(); let i=index">
            <input type="text" class="form-control mt-2" name="" id="" [formControlName]="i"
              placeholder="Enter your Strength">

          </div>
        </div>

        <div class="form-group">
          <label for="">Aboutus</label>
          <textarea name="" id="" cols="30" rows="5" class="form-control" formControlName="about"></textarea>
          <div *ngIf="about?.invalid && (about?.dirty || about?.touched)">

            <small class="text-danger" *ngIf="about?.errors?.['required']">
              Aboutus is required.
            </small>
          </div>
        </div>

        <div class="text-center mt-3">
          <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-dark ms-5">Reset</button>
        </div>
      </form>

    </div>
    <div class="col-md-6 mt-5 m-auto" *ngIf="role==='user'">

      <h1 class="text-center">Hello {{name}} Welcome To your Profile</h1>
    </div>
  </div>
</div>
